.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: [HEIGHT]px;
    z-index: 30;
    animation: rgb [DURATION]s linear infinite;
    
    /* stable 1 */
    /* background: linear-gradient(90deg, #30ff90, #ed2ded, #c99826, #30ffe6); */
    background-size: 300% !important;
    background: linear-gradient(90deg, [TAB_COLORS]);

    /* background: linear-gradient(90deg, #fc28a8, #03edf9); */
    /* background: linear-gradient(90deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b); */
    /* background: linear-gradient(90deg, #30ff90 0%, #ed2ded 25%, #c99826 50%, #30ffe6 75%, #30ff90 100%); */
    /* background: linear-gradient(90deg, #30ff90, #ed2ded, #c99826, #30ffe6, #30ff90); */
}

@keyframes rgb {
    from {
        background-position: 150%;
    }
    to {
        background-position: 0%;
    }
}